Proyecto_BuscaPoint_DSD/BuscaPoint/AplicacionMVC/Service References/PuntuacionWS/Puntuaciones1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Obtener_puntuacion_x_empresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="puntuacion" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_puntuacion_x_empresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_puntuacion_x_empresaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ingresar_puntuacion_x_empresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comentario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="puntos" type="xs:int" />
        <xs:element minOccurs="0" name="externo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ingresar_puntuacion_x_empresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ingresar_puntuacion_x_empresaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>