Proyecto_BuscaPoint_DSD/BuscaPoint/AplicacionMVC/Service References/PuntuacionWS/Puntuaciones2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AplicacionSOA.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AplicacionSOA.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPuntuacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Puntuacion" nillable="true" type="tns:Puntuacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuntuacion" nillable="true" type="tns:ArrayOfPuntuacion" />
  <xs:complexType name="Puntuacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="comentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="externo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPuntuacion" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puntos" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Puntuacion" nillable="true" type="tns:Puntuacion" />
</xs:schema>