Proyecto_BuscaPoint_DSD/BuscaPoint/AplicacionMVC/Service References/PuntuacionWS/Puntuaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Puntuaciones" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3198/Puntuaciones.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3198/Puntuaciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3198/Puntuaciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AplicacionSOA.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Puntuaciones_Obtener_puntuacion_x_empresa_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_puntuacion_x_empresa" />
  </wsdl:message>
  <wsdl:message name="IService_Puntuaciones_Obtener_puntuacion_x_empresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_puntuacion_x_empresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Puntuaciones_Ingresar_puntuacion_x_empresa_InputMessage">
    <wsdl:part name="parameters" element="tns:Ingresar_puntuacion_x_empresa" />
  </wsdl:message>
  <wsdl:message name="IService_Puntuaciones_Ingresar_puntuacion_x_empresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ingresar_puntuacion_x_empresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Puntuaciones_get_Comment_Empresa_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Comment_Empresa" />
  </wsdl:message>
  <wsdl:message name="IService_Puntuaciones_get_Comment_Empresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Comment_EmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Puntuaciones_getBestEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:getBestEmpresa" />
  </wsdl:message>
  <wsdl:message name="IService_Puntuaciones_getBestEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBestEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Puntuaciones_Tomar_puntuacion_x_empresa_InputMessage">
    <wsdl:part name="parameters" element="tns:Tomar_puntuacion_x_empresa" />
  </wsdl:message>
  <wsdl:message name="IService_Puntuaciones_Tomar_puntuacion_x_empresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Tomar_puntuacion_x_empresaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_Puntuaciones">
    <wsdl:operation name="Obtener_puntuacion_x_empresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Puntuaciones/Obtener_puntuacion_x_empresa" message="tns:IService_Puntuaciones_Obtener_puntuacion_x_empresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Puntuaciones/Obtener_puntuacion_x_empresaResponse" message="tns:IService_Puntuaciones_Obtener_puntuacion_x_empresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ingresar_puntuacion_x_empresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Puntuaciones/Ingresar_puntuacion_x_empresa" message="tns:IService_Puntuaciones_Ingresar_puntuacion_x_empresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Puntuaciones/Ingresar_puntuacion_x_empresaResponse" message="tns:IService_Puntuaciones_Ingresar_puntuacion_x_empresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Comment_Empresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Puntuaciones/get_Comment_Empresa" message="tns:IService_Puntuaciones_get_Comment_Empresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Puntuaciones/get_Comment_EmpresaResponse" message="tns:IService_Puntuaciones_get_Comment_Empresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBestEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Puntuaciones/getBestEmpresa" message="tns:IService_Puntuaciones_getBestEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Puntuaciones/getBestEmpresaResponse" message="tns:IService_Puntuaciones_getBestEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tomar_puntuacion_x_empresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Puntuaciones/Tomar_puntuacion_x_empresa" message="tns:IService_Puntuaciones_Tomar_puntuacion_x_empresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Puntuaciones/Tomar_puntuacion_x_empresaResponse" message="tns:IService_Puntuaciones_Tomar_puntuacion_x_empresa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_Puntuaciones" type="tns:IService_Puntuaciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener_puntuacion_x_empresa">
      <soap:operation soapAction="http://tempuri.org/IService_Puntuaciones/Obtener_puntuacion_x_empresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ingresar_puntuacion_x_empresa">
      <soap:operation soapAction="http://tempuri.org/IService_Puntuaciones/Ingresar_puntuacion_x_empresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Comment_Empresa">
      <soap:operation soapAction="http://tempuri.org/IService_Puntuaciones/get_Comment_Empresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBestEmpresa">
      <soap:operation soapAction="http://tempuri.org/IService_Puntuaciones/getBestEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tomar_puntuacion_x_empresa">
      <soap:operation soapAction="http://tempuri.org/IService_Puntuaciones/Tomar_puntuacion_x_empresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Puntuaciones">
    <wsdl:port name="BasicHttpBinding_IService_Puntuaciones" binding="tns:BasicHttpBinding_IService_Puntuaciones">
      <soap:address location="http://localhost:3198/Puntuaciones.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>