Proyecto_BuscaPoint_DSD/BuscaPoint/AplicacionMVC/Service References/UsuarioWS/Usuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Usuarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3198/Usuarios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3198/Usuarios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Usuarios_Ingresar_usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Ingresar_usuario" />
  </wsdl:message>
  <wsdl:message name="IService_Usuarios_Ingresar_usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ingresar_usuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Usuarios_Login_usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Login_usuario" />
  </wsdl:message>
  <wsdl:message name="IService_Usuarios_Login_usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Login_usuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Usuarios_Get_Position_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Position_Usuario" />
  </wsdl:message>
  <wsdl:message name="IService_Usuarios_Get_Position_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Position_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Usuarios_Editar_usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar_usuario" />
  </wsdl:message>
  <wsdl:message name="IService_Usuarios_Editar_usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Editar_usuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Usuarios_Listar_Distrito_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar_Distrito" />
  </wsdl:message>
  <wsdl:message name="IService_Usuarios_Listar_Distrito_OutputMessage">
    <wsdl:part name="parameters" element="tns:Listar_DistritoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_Usuarios">
    <wsdl:operation name="Ingresar_usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Usuarios/Ingresar_usuario" message="tns:IService_Usuarios_Ingresar_usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Usuarios/Ingresar_usuarioResponse" message="tns:IService_Usuarios_Ingresar_usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login_usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Usuarios/Login_usuario" message="tns:IService_Usuarios_Login_usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Usuarios/Login_usuarioResponse" message="tns:IService_Usuarios_Login_usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Position_Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Usuarios/Get_Position_Usuario" message="tns:IService_Usuarios_Get_Position_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Usuarios/Get_Position_UsuarioResponse" message="tns:IService_Usuarios_Get_Position_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar_usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Usuarios/Editar_usuario" message="tns:IService_Usuarios_Editar_usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Usuarios/Editar_usuarioResponse" message="tns:IService_Usuarios_Editar_usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar_Distrito">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Usuarios/Listar_Distrito" message="tns:IService_Usuarios_Listar_Distrito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Usuarios/Listar_DistritoResponse" message="tns:IService_Usuarios_Listar_Distrito_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_Usuarios" type="tns:IService_Usuarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ingresar_usuario">
      <soap:operation soapAction="http://tempuri.org/IService_Usuarios/Ingresar_usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login_usuario">
      <soap:operation soapAction="http://tempuri.org/IService_Usuarios/Login_usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Position_Usuario">
      <soap:operation soapAction="http://tempuri.org/IService_Usuarios/Get_Position_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar_usuario">
      <soap:operation soapAction="http://tempuri.org/IService_Usuarios/Editar_usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar_Distrito">
      <soap:operation soapAction="http://tempuri.org/IService_Usuarios/Listar_Distrito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuarios">
    <wsdl:port name="BasicHttpBinding_IService_Usuarios" binding="tns:BasicHttpBinding_IService_Usuarios">
      <soap:address location="http://localhost:3198/Usuarios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>