Proyecto_BuscaPoint_DSD/BuscaPoint/AplicacionMVC/Service References/UsuarioWS/Usuarios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3198/Usuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AplicacionSOA.Dominio" />
  <xs:element name="Ingresar_usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edad" type="xs:int" />
        <xs:element minOccurs="0" name="sexo" type="xs:int" />
        <xs:element minOccurs="0" name="codDist" type="xs:int" />
        <xs:element minOccurs="0" name="codDpto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ingresar_usuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ingresar_usuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login_usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login_usuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login_usuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AplicacionSOA.Dominio" minOccurs="0" name="Obtener_UsuarioResult" nillable="true" type="q1:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar_usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sexo" type="xs:boolean" />
        <xs:element minOccurs="0" name="codDist" type="xs:int" />
        <xs:element minOccurs="0" name="codProv" type="xs:int" />
        <xs:element minOccurs="0" name="codDpto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar_usuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Editar_usuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar_Distrito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDpto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar_DistritoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Listar_DistritoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>